extends layoutBS.4.5
block scripts
  script( src="/javascripts/js1.js" ) 
block content
  h1= title
 

  -var NumLinies = Array.from(new Set (dades.map(x=>x.linea*1))).sort((x,y)=>x-y)  
  -var mpL = new Map(); 
  //- -var a = linies.forEach(L=>{ console.log(L.Linea, L.Nombre)})
  -var a = linies.forEach(L=>{ mpL.set(L.Linea, L.Nombre)})

  //- div.container
  //- each l in linies 
  //-   p Lin: #{l.Linea}  Nom: #{l.Nombre}


  div.container
  each ln in NumLinies
  
    p &nbsp;
    h1.text-white.bg-dark.p-2 Línia: #{ln}  
      span.small.text-secondary #{mpL.get(ln)}
      span.small.text-primary.float-right &nbsp;  #{dades[0].TpDIA} &nbsp;&nbsp;&nbsp;
    //- h4 #{mpLinies.get(ln).Nombre}
    //- p &nbsp;
    -var sentidos = Array.from(new Set(dades.filter(x=>x.linea==ln).map(x=>x.sentido))).sort((x,y)=>x-y)
    -var cabeceras = Array.from(new Set(dades.filter(x=>x.linea==ln).map(x=>`Sentido: ${x.sentido}:  Nd-${x.Nodo} - ${x.Nombre}`)))
    .row  
      each sn in sentidos
        -var cabecerasS = Array.from(new Set(dades.filter(x=>x.linea==ln&x.sentido==sn).map(x=>`Sentit: ${x.sentido} - Nd-${x.Nodo} - ${x.Nombre}`)))
        div.col-5.m-1 
            h3.text-warning Sentit : #{sn}
            //- p &nbsp;
            -var sortides =  dades.filter(x=>x.linea==ln && x.sentido==sn).map(x=>x.HRPas) 
            -var sortides2 =  dades.filter(x=>x.linea==ln && x.sentido==sn).sort((x,y)=>x.instanteTEO-y.instanteTEO)
            .clearfix.border.border-secondary.rounded.p-2
              each sortida in sortides2 
                -var keyMap = `${ln}-${sn}-${sortida.Nodo}` 
                -var categoriaSortida = mapTpSalidas.get(keyMap).categoria || "cp0 ";
                span.Horapas.m-1.p-1.border.float-left(class="Nd-#{sortida.Nodo} #{categoriaSortida} ")=sortida.HRPas
           
            .clearfix.mt-2.spacer.hidden 
              p &nbsp; 
            .clearfix.border.p-3.cabeceras-linea
              p &nbsp;
              h5.p-1 Capçaleres Linia #{ln} Sentit #{sn}: 
              each cb in cabecerasS 
                -var keyMap = `${ln}-${sn}-${cb.split('-')[2].trim()}` 
                -var categoriaSortidaRetol = mapTpSalidas.get(keyMap).categoria || "cp0 ";    
                -var TotalSalidas = mapTpSalidas.get(keyMap).salidas|| "OOps te Sortides Aquí ";            
                h6.hidden=cb
                h6(class="leyendaCabecera Nd-#{cb.split('-')[2].trim()} #{categoriaSortidaRetol} ")  Nd-#{cb.split('-')[2].trim()}  => #{cb.split('-')[3].trim()}  
                  span.small.text-secondary  [T.Sortides: #{TotalSalidas}]

    div.page-break.text-secondary  &nbsp;   EMT - Palma   Planificació - 2021           

    div.hidden
      p &nbsp;
      h5 Cabeceras linea:
      each cb(class="retol" ) in cabeceras 
        h6=cb

    p &nbsp;

  div.container.hidden 
    dl ----------------
      dt Categories de Sortides i total de sortides 
      each ss in infoCategoriaSalidas
        -var keyMap = `${ss.linea}-${ss.sentido}-${ss.cabecera}` 
        -var mapValue = mapTpSalidas.get(keyMap).categoria|| "OOps no hi es ";
       
        dd L: #{ss.linea} #{ss.sentido} Nd-#{ss.cabecera} SALIDAS: #{ss.salidas}  - Categoria #{ss.categoria}  keyMap: [ #{keyMap} ] MAP value: #{mapValue} 
    p &nbsp;

  p FIN de listado  &nbsp; 
      
